#customNav {
    padding: 0;
    width: 100vw;
}

.customNavItem {
    margin: 1vh 2vh 1vh 2vh;
    background: transparent;
    
}

.navBtn { 
    background: transparent;
    border: 1px black solid;
    margin: 2vh;
    font-weight: bold;
    color: black;
    text-align: center;
    
}

.navBtn:hover {
    background: white;
}

.maxWidth {
    width: 100%;
}

#textWhite {
    color: white;
}

#toggleBtn {
    margin: 2vh;
    font-size: 4vh;
    border: solid 2px white;
}

.customNavItem {
}