#customNav {
    padding: 0;
    width: 100vw;
}

.customNavItem {
    margin: 1vh 2vh 1vh 2vh;
    background-color: transparent;
    
}

.navBtna:link { 
    background-color: transparent;
    border: 1px black solid;
    margin: 2vh;
    font-weight: bold;
    color: black;
    text-align: center;
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
}

.navBtna:visited {
    background-color: transparent;
}

.navBtna:hover {
    background-color: transparent;
}

.navBtna:active {
    background-color: transparent;
}

.navBtn:hover {
    background: white;
}

.maxWidth {
    width: 100%;
}

#textWhite {
    color: white;
}

#toggleBtn {
    margin: 2vh;
    font-size: 4vh;
    border: solid 2px white;
}

.customNavItem {
}