#customNav {
    padding-bottom: 3vh;
    width: 100vw;
    /* background: rgb(53, 143, 173);
    opacity: 0.4; */

}

.customNavItem {
    margin: 1vh 2vh 1vh 2vh;    
}

.mainNavBtn { 
    background-color: rgb(199, 235, 255);
    border: 1px black solid;
    padding: 0;
    margin: 2vh;
    font-size: 3vh;
    font-weight: bold;
    color: black;
    text-align: center;
    font-family: "Monospace";
}

.navBtn:visited {
    /* background-color: transparent; */
}

.navBtn:hover {
    /* background-color: transparent; */
}

.navBtn:active {
    /* background-color: transparent; */
}

.mainNavBtn:hover {
    background-color: white;
    color: black;
}

.maxWidth {
    width: 100%;
}

#textWhite {
    color: white;
}

#toggleBtn {
    margin: 2vh;
    font-size: 4vh;
    border: solid 2px white;
}

.customNavItem {
}