#bioMainContainer {
    background: white;
    padding: 4vh;
    height: auto;
}

.bioRow {
    background: whitesmoke;
    padding: 4vh;
    /* margin-bottom: 4vh; */
    margin: 5vh 1vh 10vh 1vh;
    box-shadow: 0.01rem 0.01rem 1rem rgb(39, 67, 82);
}

#bioProfileImg {
    height: 50vh;
    width: auto;
    border-radius: 100%;
    margin: 6vh 0 5vh 0;
}

#bioTitle {
    font-size: 5vh;
    font-weight: bolder;
    text-align: center;
}

#bioText {
    height: 45vh;
    font-size: 3vh;
    overflow: scroll;
}

.bioContactBtnContainer {
    width: 100%;
    text-align: center;
}

.bioContactBtn, .bioLearnMoreBtn {
    margin: 0 1vh 0 1vh;
    font-size: 3vh;
    width: 30%;
}

.mainBioBtn {
    background-color: rgb(199, 235, 255);
    width: auto;
    margin: 0;
    text-align: center;
    border: 1px black solid;
    padding: 0;
    font-size: 3vh;
    font-weight: bold;
    color: black;
    text-align: center;
    font-family: "Monospace";
}

.arrowFont, .fadeArrowFont, .bookFont {
    margin-bottom: 4vh;
    font-size: 4vh;
}




.arrowFont:hover {
    /* color: rgb(199, 235, 255); */
}

.arrowFont:hover{
    
}


#AwardTemp {
    height: 80vh;;
}

@keyframes fadeInOut {
    0% {
    color: black;
    }
    100% {
    color:rgb(199, 235, 255);;
    }
  }
  
 .fadeArrowFont {
    animation-name: fadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-direction: alternate;
  }



  @media only screen and (max-width: 2266px) {
    #bioText {
        /* font-size: 40px; */
    }

    #bioTitle {
        font-size: 3vh;
    }

    .mainBioBtn {
        font-size: 2vh;
    }
} 


@media only screen and (max-width: 443px) {
    #bioProfileImg {
        height: 25vh;
    }
} 