#bioMainContainer {
    background: whitesmoke;
    padding: 4vh;
    /* margin-bottom: 4vh; */
    margin: 5vh 3vh 5vh 3vh;
    box-shadow: 0.01rem 0.01rem 1rem rgb(39, 67, 82);
}

#bioProfileImg {
    height: 50vh;
    width: auto;
    border-radius: 100%;
    margin: 6vh 0 5vh 0;
}

#bioTitle {
    font-size: 5vh;
    font-weight: bolder;
    text-align: center;
}

#bioText {
    height: 45vh;
    font-size: 3vh;
    overflow: scroll;
}

.bioContactBtnContainer {
    width: 100%;
    text-align: center;
}

.bioContactBtn, .bioLearnMoreBtn {
    margin: 0 1vh 0 1vh;
    font-size: 3vh;
    width: 30%;
}

.arrowFont {
    margin-bottom: 4vh;
    font-size: 4vh;
}

.arrowFont:hover{
    
}


#AwardTemp {
    height: 80vh;;
}