#contactMainContainer {
    background: whitesmoke;
    padding: 5vh;
    /* margin-bottom: 4vh; */
    margin: 4vh 0 4vh 0;
    /* box-shadow: 0.01rem 0.01rem 1rem rgb(39, 67, 82); */
}

#formHome {
    font-size: 20vh;
    color: wheat;
}

#checkIcon {
    /* color: linear-gradient(#02EC3A, #008208); */
    color: #02EC3A;
    height: 100%;
    width: 100%;
    font-size: 30vh;
    text-align: center;
}